body{
	background-image: url('dark_wood.png');
}

p{

}

h3{

}

li{

}

#Header{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border: double 8px white;
	text-align: center;
	background-color: #8E41D5;

}

#Header h1{
	font-size: 60px;
	font-family: "Passion One"; 
	color: #FFBC00; 
	font-weight: bold;
	text-decoration: underline;

}

#LeftNav{
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border: double 8px white;
	float: left;
	text-align: center;
	padding-bottom: 8px;
	background-color: #8E41D5;
	
}

#LeftNav img{

}
#LeftNav ul{
	list-style-type: none;
	padding-left: 0px;
	color: white;
	font-weight: bold; 
	font-size: 24px;

}

#LeftNav h3{
	color: #FFBC00;
	font-size: 40px;
	font-family: "Passion One";
	margin-bottom: 0px;
	text-decoration: underline;

}

#Content{
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border: double 8px white;
	text-align: center;
	padding: 15px;
	font-weight: bold;
	color: white;
	font-family: "Georgia";
	background-color: #8E41D5;
}

#Content span{
	font-weight: bold;
	color: #FFBC00;
	font-family: "Times New Roman";
	font-size: 30px;
}

#Footer{
	border: double 8px white;
	text-align: center;
	background-color: #8E41D5;
	font-weight: bold;
	color: white;
	font-family: "Arial";
}

#Footer ul{
	list-style-type: none;
	padding-left: 0px;
	color: white;
	font-weight: bold; 
	font-size: 24px;
}

#Footer h3{
	color: #FFBC00;
	font-size: 35px;
	font-family: "Comic Sans MS";
	margin-bottom: 0px;
	text-decoration: underline;
}




